In [1]:
import sqlite3
conn = sqlite3.connect('mydb.db')

In [21]:
c = conn.cursor()

In [3]:
c.execute('''
CREATE TABLE stocks (date text)
''')

In [4]:
c.execute('INSERT INTO stocks VALUES ("2006-01-05")')

conn.commit()

In [22]:
c.execute('SELECT * FROM stocks')

print(c.fetchall())

c.close()
del c

[('2006-01-05',)]

In [11]:
import pandas as pd

In [18]:
df = pd.read_sql_query('SELECT * FROM stocks', conn)
df

         date
0  2006-01-05

In [26]:
c = conn.cursor()

c.execute('INSERT INTO stocks VALUES ("Nouvelle date !!!")')
c.execute('INSERT INTO stocks VALUES (?)', ("202020202020202",))

conn.commit()

c.close()
del c

In [29]:
df = pd.read_sql_query('SELECT * FROM stocks', conn)
df

ProgrammingError: Cannot operate on a closed database.

In [30]:
conn.close()
del conn